BODY {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: 宋体 Arial Verdana; FONT-SIZE: 12px
}

BODY.MyHome #ChannelMenu {
	WIDTH: 100%
}
BODY.MyHome #ChannelMenu .Shell {
	MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: none transparent scroll repeat 0% 0%
}
BODY.MyHome #ChannelMenu .Tab {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#ChannelMenu {
	MARGIN: 0px auto 20px; WIDTH: 960px; BACKGROUND: url(firstM_normal.gif) repeat-x 0px -36px; HEIGHT: 36px; CLEAR: both
}
#ChannelMenu .Shell {
	BACKGROUND: url(firstM_normal.gif) no-repeat left top
}
#ChannelMenu .Tab {
	TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: url(firstM_normal.gif) no-repeat right bottom
}
#ChannelMenu H2 {
	TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: url(firstM_normal.gif) no-repeat right bottom
}
#ChannelMenu H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ChannelMenu H2 A {
	TEXT-ALIGN: center; LINE-HEIGHT: 31px; MARGIN-TOP: 6px; WIDTH: 140px; DISPLAY: block; BACKGROUND: url(menuStat.png) no-repeat -10px 60px; HEIGHT: 31px; COLOR: #000; MARGIN-LEFT: 30px; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#ChannelMenu H2 A SPAN {
	FONT-WEIGHT: bold
}
#ChannelMenu .Tab UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ChannelMenu .Tab UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 100px; PADDING-RIGHT: 7px; FLOAT: left; PADDING-TOP: 0px
}
#ChannelMenu .Tab UL LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; MARGIN-TOP: 5px; DISPLAY: block; HEIGHT: 27px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#ChannelMenu .Tab UL LI A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; PADDING-TOP: 0px
}
#ChannelMenu .Tab UL A:hover {
	BACKGROUND: url(menuStat.png) no-repeat left top
}
#ChannelMenu .Tab UL A:hover SPAN {
	BACKGROUND: url(menuStat.png) no-repeat right -27px
}
#ChannelMenu .Tab UL LI.Current A {
	LINE-HEIGHT: 30px; MARGIN-TOP: 6px; BACKGROUND: url(menuStat.png) no-repeat -10px -60px; HEIGHT: 30px; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#ChannelMenu .Tab UL LI.VipTrade {
	WIDTH: 160px
}
#ChannelMenu .Tab UL LI.VipMyAlipay {
	WIDTH: 165px
}
#ChannelMenu .Tab UL LI.MyAlipay {
	WIDTH: 120px
}
* HTML #ChannelMenu .Tab UL LI.VipTrade A SPAN {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 8px
}
* HTML #ChannelMenu .Tab UL LI.VipMyAlipay A SPAN {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 8px
}
#ChannelMenu .Tab UL LI SPAN IMG {
	MARGIN-TOP: -2px; MARGIN-LEFT: 5px
}
#ChannelMenu .Tab UL LI.Current A:hover {
	BACKGROUND: url(menuStat.png) no-repeat -10px -60px
}
#ChannelMenu .Tab UL LI.Current A SPAN {
	BACKGROUND: url(menuStat.png) no-repeat right -90px; HEIGHT: 30px
}
#ChannelMenu .Tab UL LI.Current A:hover SPAN {
	BACKGROUND: url(menuStat.png) no-repeat right -90px; HEIGHT: 30px
}
#ChannelMenu H2 SPAN {
	DISPLAY: block; BACKGROUND: url(menuStat.png) no-repeat right -90px; HEIGHT: 30px
}
#ChannelMenu .Tab UL LI.Current A SPAN {
	DISPLAY: block; BACKGROUND: url(menuStat.png) no-repeat right -90px; HEIGHT: 30px
}
#ProductMenu {
	MARGIN: -20px auto 0px; WIDTH: 960px; BACKGROUND: url(secdM_normal.png) repeat-x 0px -37px; HEIGHT: 37px; CLEAR: both
}
#ProductMenu .Shell {
	BACKGROUND: url(secdM_normal.png) no-repeat left top
}
#ProductMenu .Tab {
	TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: url(secdM_normal.png) no-repeat right bottom
}
#ProductMenu .Tab UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 37px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#ProductMenu .Tab UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 90px; PADDING-RIGHT: 7px; DISPLAY: block; BACKGROUND: url(vertical.png) no-repeat left 13px; FLOAT: left; MARGIN-LEFT: -1px; PADDING-TOP: 8px
}
#ProductMenu .Tab UL LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; DISPLAY: block; HEIGHT: 22px; COLOR: #666; TEXT-DECORATION: none
}
#ProductMenu .Tab UL LI A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; FONT-SIZE: 12px; PADDING-TOP: 1px
}
#ProductMenu .Tab UL LI A:hover {
	BACKGROUND: url(menuStat.png) no-repeat -10px -130px; COLOR: #ff0
}
#ProductMenu .Tab UL LI A:hover SPAN {
	BACKGROUND: url(menuStat.png) no-repeat right -152px
}
#ProductMenu .Tab UL LI A:hover {
	COLOR: #ff7300
}
#ProductMenu .Tab UL LI.Current A {
	BACKGROUND: url(menuStat.png) no-repeat -10px -175px; COLOR: #fff
}
#ProductMenu .Tab UL LI.Current A SPAN {
	BACKGROUND: url(menuStat.png) no-repeat right -197px
}
#ProductMenu .Tab UL LI.Current A:hover {
	BACKGROUND: url(menuStat.png) no-repeat -10px -175px; COLOR: #ff0
}
#ProductMenu .Tab UL LI.Current A:hover SPAN {
	BACKGROUND: url(menuStat.png) no-repeat right -197px
}

